<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation Email</title>
  </head>
  <body>
    <h1>welcome to just blog</h1>
    <p>Hi,
      {{name}}!!! please confirm your email by clicking this linl:
      <a href="{{confirmationLink}}">confirmation email</a></p>
  </body>
</html>